<!DOCTYPE html>
<html>
    <head>
        <title>TVOnDemand</title>
        <link rel="stylesheet" href="../static/style/style.css">
        <link rel="stylesheet" href="../static/style/all_customers.css">
        <script src="../static/js/lib.js" type="text/javascript"></script>
        <script src="../static/js/prices.js" type="text/javascript"></script>
    </head>
    <body>
        <div class="navbar">
            <a href="/main" class="navbar-title">TVOnDemand</a>
        </div>
        <div class="side-navbar">
            <a class="tab-btn" id="all-customers-tab" href="/customers">Customers</a>
            {% if user_type == "Administrator" %}
            <a class="tab-btn" id="all-staff-tab" href="/staff">Staff</a>
            {% endif %}
            <a class="tab-btn" id="all-shows-tab" href="/shows">Shows</a>
            <a class="tab-btn" id="all-films-tab" href="/films">Films</a>
            <a class="tab-btn" id="all-actors-tab" href="/actors">Actors</a>
            <a class="tab-btn" id="all-categories-tab" href="/categories">Categories</a>
            <a class="tab-btn" id="all-languages-tab" href="/languages">Languages</a>
            <a class="tab-btn" id="all-countries-tab" href="/countries">Countries</a>
            <a class="tab-btn" id="all-cities-tab" href="/cities">Cities</a>
            <a class="tab-btn" id="all-addresses-tab" href="/addresses">Addresses</a>
            <a class="tab-btn" id="most-rented-tab" href="/mostrented">Most Rented</a>
            {% if user_type == "Administrator" %}
            <a class="tab-btn" id="all-income-tab" href="/income">Income</a>
            <a class="tab-btn tab-btn-active" id="prices-tab" href="/prices">Prices</a>
            <a class="tab-btn" id="logs-tab" href="/logs">Logs</a>
            {% endif %}
            <a class="tab-btn" id="log-out">Log out</a>
        </div>
        <div class="main-content">
        </div>
        <span class="loader" id="main-loader"></span>
    </body>
</html>