.main-content {
    position: relative;
    display: inline-block;
    top: 90px;
    width: 85%;
    left: 15%;
    text-align: center;
}
.select {
    width: 100%;
}
.select-option-wrapper {
    width: 100%;
}

.select-option span {
    left:0;
}

.popup .data-table {
    overflow-x: hidden;
    white-space: auto;
}


.new-pass-input {
    width: 50%;
    position: relative;
    left: 22%;
    opacity: 0;
    animation: inputenter .25s;
    animation-fill-mode: forwards;
}

@keyframes inputenter {
    from {
        opacity: 0;
        left: 22%;
    } to {
        opacity: 1;
        left: 25%;
    }
}
.submit-pass {
    position: relative;
    left: 0;
    margin-left: -100px;
    margin-top: 40px;
}