.main-content {
    position: relative;
    display: inline-block;
    top: 90px;
    width: 80%;
    left: 20%;
    text-align: center;
}
.select {
    width: 100%;
}
.select-option-wrapper {
    width: 100%;
}

.select-option span {
    left:0;
}