.main-content {
    position: relative;
    display: inline-block;
    top: 90px;
    width: 80% !important;
    left: 20% !important;
    text-align: center;
}

.side-navbar {
    width: 20%;
}

.select {
    width: 100%;
}
.select-option-wrapper {
    width: 100%;
}