@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Light.ttf");
    font-weight: 300;
}
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/MaterialIcons-Regular.ttf");
  }
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }









body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: sans-serif;
    background-color: #000;
}

.bg-image {
    position: fixed;
    left: 0;
    top: 0;
    width:100%;
    height: 100%;
    background-image: url("../img/cinema.png");
    background-position: center;
    background-size: cover;
    z-index: -9999;
}

.bg-image::after {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    width:100%;
    height: 100%;
    background-color:#000;
    opacity: .8;
    z-index: -9999;
}


.navbar {
    position:fixed;
    left: 0;
    top:0;
    width:100%;
    display: inline-block;
    background-color:#000;
    padding:0;
    margin:0;
    z-index: 9999;
}

.navbar-title {
    margin-top: 0;
    margin-left:3%;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 90px;
    text-decoration: none;
    padding-left: 25px;
    padding-right: 25px;
    color: #AD1457;
}

.toast {
    display: inline-block;
    position: fixed;
    width:25%;
    left:37.5%;
    bottom:50px;
    line-height: 50px;
    background-color:#00695C;
    color: white;
    font-family: "Inter";
    font-weight: 400;
    z-index: 999;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
    animation: toastanimationappear .5s;
    animation-fill-mode: forwards;
}
.toast-exit {
    animation: toastanimationdisappear .5s;
    animation-fill-mode: forwards;
}

.success-toast {
    background-color:#00695C;
}
.failure-toast {
    background-color:#e53935;
}

.toast span {
    line-height: 50px;
    position: absolute;
    left:0;
    top:0;
    width: 50px;
    text-align: center;
    color: #fff;
}

@keyframes toastanimationappear {
    from {
        bottom: 10px;
        opacity: 0;
    } to {
        bottom: 50px;
        opacity: 1;
    }
}

@keyframes toastanimationdisappear {
    from {
        bottom: 50px;
        opacity: 1;
    } to {
        bottom: 10px;
        opacity: 0;
    }
}

.loader {
    display: none;
    width:120px;
    height: 50px;
    position: fixed;
    padding:0;
    margin:0;
    right:100px;
    bottom: 100px;
}

.loader-visible {
    display: inline-block;
}

.loader::before {
    content: '';
    position: absolute;
    left:20px;
    top:10px;
    width:30px;
    height:30px;
    display: inline-block;
    background-color:#AD1457;
    border-radius: 50%;
    animation: leftloadermove 1s infinite;
}

.loader::after {
    content: '';
    position: absolute;
    right:20px;
    width:30px;
    top:10px;
    height:30px;
    display: inline-block;
    background-color:#6e0f38;
    border-radius: 50%;
    animation: rightloadermove 1s infinite;
}

@keyframes leftloadermove {
    0% {
        left:20px;
    }
    50% {
        left: 70px;
    }
    100% {
        left:20px;
    }
}
@keyframes rightloadermove {
    0% {
        right:20px;
    }
    50% {
        right: 70px;
    }
    100% {
        right:20px;
    }
}

.tab-bar {
    position: relative;
    display: inline-block;
    width:100%;
}

.tab-btn {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #494949;
    font-family: "Inter";
    font-weight: 700;
    font-size: 25px;
    line-height: 50px;
    padding-left:25px;
    padding-right:25px;
    cursor: pointer;
    transition: all .15s;
}

.tab-btn:hover {
    color: #fff;
}

.tab-btn-active {
    color: #fff;
}

.side-navbar {
    position: fixed;
    width: 15%;
    left:0;
    background-color: black;
    z-index: 10;
    top:0;
    height: 100%;
}

.side-navbar .tab-btn {
    width:80%;
    top:12vh;
    left:10%;
}

.select {
    display: block;
    font-size: 14px;
    margin: 0;
    font-family: "Inter";
    font-weight: 400;
    width: 200px;
    border-radius: 2px;
    overflow-y: hidden;
}

.select-option-wrapper {
    margin-top: 0;
    position: absolute;
    z-index: +2;
    width:200px;
    max-height: 200px;
    overflow-y: auto;
}

.invisible-select-menu {
    display: none;
}

.select-option {
    display: inline-block;
    position: relative;
    width: 100%;
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #1c1c1c;
    margin:0;
    cursor: default;
    color: white;
    transition: all .15s;
}

.select-option span {
    position: relative;
    left: 5px;
}

.select-option:hover {
    background-color:rgb(44, 44, 44);
}

.selected-option-text {
    background-color:#1c1c1c;
    color: white;
}

.active-option {
    background-color: rgb(44, 44, 44);
}

.data-table {
    position: relative;
    width: 90%;
    left: 5%;
    border-radius: 3px;
    overflow: hidden;
    border-collapse: collapse;
    text-align: center;
    opacity: 0;
    margin-bottom: 150px;
    animation: tableenter .25s;
    animation-fill-mode: forwards;
}

.scrollable-table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.data-table .select {
    display: block;
    white-space: normal;
}

@keyframes tableenter {
    from {
        opacity: 0;
        left: 2%;
    } to {
        opacity: 1;
        left: 5%;
    }
}

.data-table th, .data-table td {
    line-height: 30px;
    font-family: "Inter";
    padding-top: 7px;;
    padding-bottom: 7px;;
    font-size: 14px;
}

.data-table th {
    background-color: #AD1457;
    color: white;
}

.data-table td {
    visibility: visible;
    color: white;
    margin-top: 14px;
    position: relative;
    min-width: 100px;
    padding-left: 5px;;
    padding-right: 5px;;
}

.data-table tr {
    background-color: #191919;
}

.data-table .material-icons {
    cursor: pointer;
    font-size: 20px;
    vertical-align: text-bottom;
    transition: all .15s;
}

.data-table .material-icons:hover {
    color: #AD1457;
}

.data-table tr:nth-child(odd) {
  background-color: #2b2b2b;
}



.edit-row-input {
    display: inline-block;
    outline: none;
    padding:0;
    margin:0;
    border:none;
    line-height: 20px;
    position: relative;
    width:90%;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 14px;
    color: #fff;
    font-family: "Inter";
    text-align: center;
    font-weight: 400;
    background-color: #1C1C1C;
    border-radius: 2px;
    box-shadow: 0px 2px #1C1C1C;
    transition: all .15s;
}

.edit-row-input:focus {
    box-shadow: 0px 2px #AD1457;
}

.hidden-cell {
    visibility: hidden !important;
}

.fixed-table {
    table-layout: fixed;
}



.no-entries-text {
    font-family: "Inter";
    font-weight: 400;
    font-size: 25px;
    color: rgb(61, 61, 61);
}

.load-more {
    position:relative;
    display: inline-block;
    font-family: "Inter";
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    margin-bottom: 100px;
    color: white;
    width: 200px;
    line-height: 35px;
    border-radius: 3px;
    background-color: #AD1457;
    text-align: center;
    cursor: pointer;
    left: calc(50% - 50px);
    outline:none;
    border:none;
    animation: tableenter .25s;
    animation-fill-mode: forwards;
    transition: all .25s;
}
.load-more:hover {
    background-color: #ce2d73;
}
.load-more:active {
    background-color: #72163e;
}

.popup {
    width: 85%;
    text-align: center;
    opacity: 0;
    height: calc(100vh - 90px);
    position: fixed;
    left: 15%;
    overflow-y: auto;
    top: 90px;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.95);
    animation: popupenter 0.15s;
    animation-fill-mode: forwards;
}

.popup h1 {
    font-size: 30px;
    position: relative;
    color: white;
    font-family: "Inter";
    font-weight: 700;
    animation: h1enter .25s;
    animation-fill-mode: forwards;
}
.popup h2 {
    animation: h1enter .25s;
    position: relative;
    animation-fill-mode: forwards;
}
@keyframes h1enter {
    from {
        opacity: 0;
        left: -3%;
    } to {
        opacity: 1;
        left: 0%;
    }
}

.popup .close {
    position: absolute;
    display: inline;
    top: 0;
    right: 20px;
    cursor: pointer;
    width: 65px;
    text-align: center;
    font-size: 35px;
    line-height: 65px;
    z-index: 99;
    color: #494949;
    transition: all .15s;
}

.popup .close:hover {
    color: white;
}


@keyframes popupenter {
    from {
        opacity: 0;
    } to {
        display: inline-block;
        opacity: 1;
    }
}




.floating-button {
    position: fixed;
    bottom: 50px;
    right: 40px;
    text-align: center;
    width: 70px;
    background-color: #AD1457;
    border-radius: 70%;
    text-decoration: none;
    z-index: +11;
    padding-left: 0px;
    cursor: pointer;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
    color: white;
    transition: all .25s;
}

.floating-button:hover {
    background-color: #191919;
}

.floating-button span {
    position: relative;
    display: inline-block;
    line-height: 70px;
    width: 100%;
}

.hidden-element {
    display: none;
}